ul li {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    margin: 5px;
}

a{
    color:#777;
    text-decoration: none;
}

nav{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.date{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main p {
    justify-content: center;
}

main h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#dd3232;
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.newspaper-container {
    margin:1rem;
    background-color:#eee;
}

.more-articles{
    display: flex;
    gap: 30px;
}

.placeholder{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
